body{
    background-color: black;
    overflow: hidden;
}
canvas {
    display: block;
    background-color: #282a38;
    border: 2px solid grey;
  }

h1 {
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
}

